.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 300px;
  margin: auto;
}

label {
  display: block;
}

input {
  width: 100%;
}

.custom-input {
  padding-bottom: 2%;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.form-err {
  color: red;
  margin: 0;
}

.width-auto {
  width: auto;
}

.flex {
  display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

.menu, .drop-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
  background-color: #cfe2ff;
  position: relative;
  margin: 0 30px;
  padding: 0 10px;
}

.menu-item a {
  text-decoration: none;
  padding: 6px 10px;
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.drop-menu-item {
  width: 100%;
}

.drop-menu-item:hover {
  background-color: #eee;
}

.drop-menu-item a {
  color: #555;
}

.menu-item:hover .drop-menu {
  display: block;
}

.facilities {
  margin-top: 100px;
}